<p class="output">Your string <span class="test-word"><%= @test_word %></span> appears <span class="count"><%= @count %></span> times in the sentence <span class="sentence"><%= @sentence %></span></p>
