@font-face {font-family:"Sesame Street";src:url("SESAME.eot?") format("eot"),url("SESAME.woff") format("woff"),url("SESAME.ttf") format("truetype"),url("SESAME.svg#Sesame-Street") format("svg");font-style:normal;}

body {
  font-family: arial;
}
.output {
  font-size: 16px;
}

.test-word {
  font-weight: bold;
  color: darkred;
}
.count {
  font-weight: bold;
  font-size: 2em;
}
.sentence {
  font-style: italic;
}
.jumbotron {
font-family: "Sesame Street";


text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.jumbotron h1 {
  font-size: 8em;
}
