body {
  font-family: arial;
}
.output {
  font-size: 16px;
}

.test-word {
  font-weight: bold;
  color: darkred;
}
.count {
  font-weight: bold;
  font-size: 2em;
}
.sentence {
  font-style: italic;
}
.jumbotron {
  @font-face {font-family:"Sesame Street";src:url("SESAME.eot?") format("eot"),url("SESAME.woff") format("woff"),url("SESAME.ttf") format("truetype"),url("SESAME.svg#Sesame-Street") format("svg");font-weight:normal;font-style:normal;}

}
